apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: webapp
  namespace: argocd
spec:
  project: default

  destination:
    namespace: webapp
    server: https://kubernetes.default.svc

  source:
    repoURL: 'https://github.com/AlxSpr/TP-DevSecOps.git'
    targetRevision: main
    path: webapp

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
