apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trivy-operator
  namespace: trivy-system
spec:
  project: default
  source:
    repoURL: https://github.com/aquasecurity/trivy-operator.git
    targetRevision: main
    path: deploy/helm
    helm:
      releaseName: trivy-operator
      values: |
        serviceAccount:
          create: true
          name: trivy-operator
        image:
          repository: aquasec/trivy-operator
          tag: latest
  destination:
    server: https://kubernetes.default.svc
    namespace: trivy-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
