apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: mariadb
spec:
  serviceName: mariadb-headless
  replicas: 3
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: bitnami/mariadb-galera:latest
        env:
        - name: MARIADB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: mariadb-root-password

        # Nom du cluster
        - name: MARIADB_GALERA_CLUSTER_NAME
          value: "mariadb-galera"

        # Adresse du cluster
        - name: MARIADB_GALERA_CLUSTER_ADDRESS
          value: "gcomm://mariadb-0.mariadb-headless.mariadb.svc.cluster.local,mariadb-1.mariadb-headless.mariadb.svc.cluster.local,mariadb-2.mariadb-headless.mariadb.svc.cluster.local"

        # User interne pour SST
        - name: MARIADB_GALERA_MARIABACKUP_PASSWORD
          value: "backup123"

        ports:
        - name: mysql
          containerPort: 3306
        - name: galera
          containerPort: 4567
        - name: ist
          containerPort: 4568
        - name: sst
          containerPort: 4444

        volumeMounts:
        - name: datadir
          mountPath: /bitnami/mariadb

  volumeClaimTemplates:
  - metadata:
      name: datadir
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi
      storageClassName: standard
