apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: mariadb
spec:
  serviceName: mariadb-headless
  replicas: 3
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: wodby/mariadb:galera
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: mariadb-root-password
        - name: WSREP_ON
          value: "ON"
        - name: GALERA_CLUSTER_NAME
          value: "mariadb-galera"
        - name: GALERA_SST_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: galera-sst-password
        - name: GALERA_CLUSTER_ADDRESS
          value: |
            gcomm://$(FIRST_POD)
        - name: FIRST_POD
          value: mariadb-0.mariadb-headless.mariadb.svc.cluster.local
        ports:
        - name: mysql
          containerPort: 3306
        - name: galera
          containerPort: 4567
        - name: ist
          containerPort: 4568
        - name: sst
          containerPort: 4444
        volumeMounts:
        - name: datadir
          mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: datadir
    spec:
      accessModes: ["ReadWriteOnce"]
      resources:
        requests:
          storage: 10Gi
      storageClassName: standard
